body {
	background-color: antiquewhite;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
	width: fit-content;
}

#buttons {
	margin-top: 5px;
}

input {
	margin-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

textarea {
	margin: 5px;
	height: auto;
	width: auto;
}